<nav>
    <ul style="list-style-type: none; padding: 0;">
        <li style="display: inline; margin-right: 20px;"><a href="/">Home</a></li>
        <li style="display: inline; margin-right: 20px;"><a href="/promotions">Promotions</a></li>
        <li style="display: inline; margin-right: 20px;"><a href="/add-promotion">Add Promotion</a></li>
        <li style="display: inline; margin-right: 20px;"><a href="/products">Products</a></li> <!-- New link -->
    </ul>
</nav>

